<ul class="navbar-ohmy">
<li class="navbar-ohmy title-ohmy">My Kim Bui</li>
<li class="navbar-ohmy title-ohmy lilspacetoright lilspacetoleft">•</li>
<li class="navbar-ohmy title-ohmy about pointer specfont">Info<%= image_tag("arrow-up-right.svg", class:"arrow-info arrow fading biggerarrow") %></li>
<li class="navbar-ohmy slightbiggerfontsize contact-button pointer specfont">Contact<%= image_tag("arrow-up-right.svg", class:"arrow-contact arrow fading biggerarrow") %></li>
<li class="navbar-ohmy title-ohmy lilspacetoright">••</li>
<li class="navbar-ohmy slightbiggerfontsize credit pointer specfont italic">Credits<%= image_tag("arrow-up-right.svg", class:"arrow-credit arrow fading biggerarrow") %></li>
<li class="introduction">I am a graphic designer from a traditional background that later dived into code. I am interested in a huge variety of graphics, from pixel perfect interfaces to generative design. I have a deep fascination in small smart funny interactions in web based applications and more recently into <span class="link-deco">3d interactive experiences</span>. The tech aspect gives me the unexpected outcome to my more calculated design side. Even though this creative part can be unpredictable sometimes. That combination captivates me to learn as there are endless possibilities. <br>
Those interests sparked early in my days as I kept and still keep collecting images & open source fonts obsessively on the internet. During this journey into design & development, I have been following and got inspired by a lot of individuals which are <span class="link"><%= link_to ("http://benw.de/") do %>Ben Wegscheider<% end %>, <a href="https://arminunruh.com/">Armin Unruh</a>, <a href="http://ezramiller.biz/">Ezra Miller</a>, <a href="https://www.tristanbagot.com/">Tristan Bagot</a>, <a href="http://iraivanova.com/">Ira Ivanova</a>, <a href="http://okikata.org/">Akihiko Taniguchi</a></span>, to name a few. They motivated me for instance to learn to play with shaders & generative coding, but also to keep practising the foundations.<br>
Outside of the computer, you can find me <span class="drawing link-deco"><span class="rainbow">drawing random things</span></span>, throwing ceramics, fermenting diverse food like kombucha &️ taking care of my extended collection of plants 🌵.</li>
<li class="contact-text link">mykimbuibui@gmail.com • <a href="https://arminunruh.com/">github</a> • <a href="https://twitter.com/mykilicious">twitter</a> • <a href="https://www.instagram.com/oneshittyartaday/">instagram</a></li>
<li class="credit-text">Website coded and designed by me with the great help of stackoverflow.</li>
</ul>

<div class="drawing-img"> <%= image_tag("ohmy-drawing.png")%></div>


