<ul id="top" class="navbar-ohmy mobile-view">
<li class="navbar-ohmy title-ohmy">My Kim Bui</li>
<li class="navbar-ohmy title-ohmy lilspacetoright lilspacetoleft">•</li>
<li class="navbar-ohmy title-ohmy about pointer specfont">Info<%= image_tag("arrow-up-right.svg", class:"arrow-info arrow fading biggerarrow") %></li>
<li class="navbar-ohmy slightbiggerfontsize contact-button pointer specfont">Contact<%= image_tag("arrow-up-right.svg", class:"arrow-contact arrow fading biggerarrow") %></li>
<li class="navbar-ohmy title-ohmy lilspacetoright">••</li>
<li class="navbar-ohmy slightbiggerfontsize credit pointer specfont italic">Credits<%= image_tag("arrow-up-right.svg", class:"arrow-credit arrow fading biggerarrow") %></li>
<li class="introduction fade-in" style="display: none;">I am a graphic designer from a traditional background that later dived into code. I am interested in a huge variety of graphics, from pixel perfect interfaces to generative design. I have a deep fascination with small <span class="link"><a href="https://eyeondesign.aiga.org/why-designers-should-take-silliness-seriously/">silly</a></span> interactions in web based applications and more recently into <span class="link-deco chromatic">3d interactive experiences</span>. My work mixes design and technology to produce creative and unexpected outcomes with endless possibilities. <br>
I also collect images & open source typefaces obsessively on the internet. Besides that, I have been following and got inspired by a lot of individuals which are <span class="link"><%= link_to ("http://benw.de/") do %>Ben Wegscheider<% end %>, <a href="https://arminunruh.com/" target="_blank">Armin Unruh</a>, <a href="http://ezramiller.biz/" target="_blank">Ezra Miller</a>, <a href="https://www.tristanbagot.com/" target="_blank">Tristan Bagot</a>, <a href="http://iraivanova.com/" target="_blank">Ira Ivanova</a>, <a href="http://okikata.org/" target="_blank">Akihiko Taniguchi</a></span>, to name a few.<br>
Outside of the internet, you can find me <span class="drawing link-deco"><span class="rainbow">drawing random things</span></span>, throwing ceramics, fermenting food &️ taking care of my extended collection of plants 🌵.</li>
<li class="contact-text link fade-in" id="url" style="display: none;"><a href="mailto: mykimbuibui@gmail.com">mykimbuibui@gmail.com</a> • <a href="https://github.com/mykimbui">github</a> • <a href="https://twitter.com/mykilicious">twitter</a> • <a href="https://www.instagram.com/mykm_b/">instagram</a> • <a href="https://www.are.na/my-kim-bui">are.na</a> • <a href="https://codepen.io/mykimbui/">codepen</a> • <a href="https://dribbble.com/mykimbui">dribbble</a></li>
<li class="credit-text link fade-in" style="display: none;">Typefaces in use: <a href="http://typefaces.temporarystate.net/preview/Wremena">Wremena</a> & <a href="https://fonts.floriankarsten.com/space-grotesk">Space Grotesk</a></li>
</ul>

<div class="drawing-img" style="display: none;"> <%= image_tag("ohmy-drawing.png")%></div>


