<!-- <section>
  <div id="prompt"></div>
  <video></video>
</section> -->
<div class="wrapper">
  <div class="menu-menu">
    <ul class="fixed">
        <% @projects.each do |project| %>
        <li class="title-project"><%= project.name %><%= image_tag("arrow-up-right.svg", class:"arrow-project arrow fading") %></li>
        <li class="description-project hide"><%= project.description%></li>
        <% end %>
    </ul>
  </div>

  <div class="projects">
     <div class="cursor"></div>
    <ul>
  <% @projects.each do |project| %>
  <div class="projectbg" style="background-color: <%= project.background %>;">
    <%= image_tag(project.pictures.first.url, class:"project-image-first clickcursor") %>
    <div data-images="<%= project.pictures.pluck(:url) %>" class="data-images"></div>
          <!-- <div class="image-containers">
            <%# project.pictures.each do |picture| %>
            <li class="contrast clickcursor project-image hide"><%#= image_tag(picture.url) %></li>
            <%# end %>
          </div> -->
        </div>
        <% end %>
      </ul>
    </div>
  </div>


