<div class="wrapper">
  <div class="menu-menu">
    <ul class="columnmenu">
      <div class="fixed">
      <% @projects.each do |project| %>
      <li class="title-project"><%= project.name %><%= image_tag("arrow-up-right.svg", class:"arrow-project arrow fading") %></li>
      <li class="description-project hide"><%= project.description%></li>
      <% end %>
      </div>
    </ul>
  </div>

  <div class="projects">
    <div class="cursor"></div>
    <ul>
        <% @projects.each do |project| %>
        <div class="projectbg" style="background-color: <%= project.background %>;">
          <% project.pictures.each do |picture| %>
          <li class="contrast clickcursor"><%= image_tag(picture.url) %></li>
          <% end %>
        </div>
        <% end %>
      </ul>
    </div>
  </div>

