<div class="wrapper">
  <div class="menu-menu">
    <ul class="columnspace">
      <li>About<%= image_tag("arrow-up-right.svg", class:"arrow") %></li>
      <% @projects.each do |project| %>
      <li><%= project.name %><%= image_tag("arrow-up-right.svg", class:"arrow") %></li>
      <% end %>
    </ul>
  </div>

  <div class="projects">
    <ul>
      <% @projects.each do |project| %>
      <div class="projectbg" style="background-color: <%= project.background %>;">
        <% project.pictures.each do |picture| %>
          <li class="space"><%= image_tag(picture.url) %></li>
        <% end %>
        <%= project.description %>
      </div>
      <% end %>
    </ul>
  </div>
</div>

